<div class= "form_wrapper">

  <div class= "form_title_box">
    <span class= "form_title">新規登録</span>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form" ) do |f| %>
    <%= render "error", { model: resource } %>


    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :nickname %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.text_field :nickname, autofocus: true, class: "form_textfield", placeholder: "例）ウサギ　太郎" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :email %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.email_field :email, autocomplete: "email", class: "form_textfield", placeholder: "例）rabbit@rabbit.com" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :password %></div>
        <div class= "form_required">必須</div>
      </div>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form_textfield" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :password_confirmation %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_textfield" %>
    </div>

    <div class= "form_commit_box">
      <%= f.submit "登録", class: "form_commit" %>
    </div>
  <% end %>

</div>

