<div class= "userFollowList">
  <div class= "userFollowList_switchBtn_box">
    <%= link_to "フォロー中", follow_list_user_path(@user, target: "following"), class: "link userFollowList_switchBtn", style: "color: black;" %>|
    <%= link_to "フォロワー", follow_list_user_path(@user, target: "follower"), class: "link userFollowList_switchBtn", style: "color: black;" %>
  </div>

  <div class= "userFollowList_users">
    <% if params[:target] == "following" %>
      <% @user.followings.each do |user| %>
        <div class= "userFollowList_user">
          <div class= "userFollowList_user_info_box">
            <div class= "userFollowList_userNickname_box">
              <div class= "userFollowList_userNickname"><%= user.nickname %></div>
              <div class= "userFollowList_userEmail"><%= user.email %></div>
            </div>
            <%= link_to(user_relationships_path(user_id: user.id), data: {turbo_confirm: "「#{user.nickname}」へのフォローを解除します。よろしいですか？", turbo_method: :delete }, class: "link", style: "color: black;") do %>
              <div class= "project_userFollowed_btn">フォロー解除</div>
            <% end %>
          </div>
          <div class= "userFollowList_profile"><%= user.profile %></div>
        </div>
      <% end %>
    <% elsif params[:target] == "follower" %>
      <% @user.followers.each do |user| %>
        <div class= "userFollowList_user">
          <div class= "userFollowList_user_info_box">
            <div class= "userFollowList_userNickname_box">
              <div class= "userFollowList_userNickname"><%= user.nickname %></div>
              <div class= "userFollowList_userEmail"><%= user.email %></div>
            </div>
            <div class= "userFollowList_followBtn">
              <%= link_to(user_relationships_path(user_id: user.id), data: {turbo_method: :post}, class: "link", style: "color: black;") do %>
                <div class= "project_userFollowing_btn">フォローする</div>
              <% end %>
            </div>
          </div>
          <div class= "userFollowList_profile"><%= user.profile %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>