<h1><%= @user.nickname %></h1>

<%= @user.email %>
<%= @user.profile %>

<h1><%= @user.nickname %>のプロジェクト</h1>

<% @user.projects.each do |project| %>
  <%= project.title %>
  <%= project.description %>
  <%= project.display %>
<% end %> 