<% if @project %>
  <% breadcrumb :user, [@tag, @project, @user] %>
<% end %>

<div class= "userShow">
  <div class= "userShow_heading_container">
    <div class= "userShow_user_info_box">
      <div class= "userShow_user_container">
        <div class= "userShow_user_box">
          <% if @user.icon.attached?%>
            <%= link_to image_tag(url_for(@user.icon), size: "40x40", class: "user_icon", alt: "User Icon"), url_for(@user.icon), target: "_blank" %>
          <% end %>
          <div class= "heading1"><%= @user.nickname %></div>
        </div>
        <div class= "userShow_userEmail"><%= @user.email %></div>
      </div>
      <% if current_user && current_user != @user %>
        <div class= "userShow_userFollow">
          <%= render "relationships/follow_btn", { user: @user } %>
        </div>
      <% end %>
    </div>
    <div class= "userShow_follow_container">
      <%= link_to(follow_list_user_path(@user, target: "follower"), class: "link", style: "color: black;") do %>
        <div class= "userShow_follower_box">
          <div class= "userShow_follow_heading">フォロワー</div>
          <div class= "userShow_follow_count">
            <%= @user.passive_relationships.count %>
          </div>
        </div>
      <% end %>
      <%= link_to(follow_list_user_path(@user, target: "following"), class: "link", style: "color: black;") do %>
        <div class= "userShow_following_box">
          <div class= "userShow_follow_heading">フォロー中</div>
          <div class= "userShow_follow_count">
            <%= @user.active_relationships.count %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class= "userShow_userProfile_box">
    <div class= "heading2">プロフィール</div>
    <div class= "userShow_userProfile">
      <%= simple_format(h(@user.profile), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
  </div>

  <% if user_signed_in? && current_user == @user %>
    <div class= "userShow_userManagement_box">
      <%= link_to(edit_user_path(@user), class: "link", style: "color: black;") do %>
        <div class= "edit_btn">アカウント編集</div>
      <% end %>
      <%= link_to(user_path(@user), data: {turbo_confirm: "プロジェクトや習慣情報も全て削除されます", turbo_method: :delete}, class: "link", style: "color: black;") do %>
        <div class= "delete_btn">アカウント削除</div>
      <% end %>
    </div>
  <% end %>

  <div class= "userShow_userProjects_container">

    <div class= "userShow_userProjects_tab_box">
      <div class= "userShow_myProject_tab" id= "myProjects_tab">
        <span class= "userShow_myProject_tab_text active" id= "myProjects_tab_text">プロジェクト</span>
      </div>
      <div class= "userShow_likedProject_tab" id= "likedProjects_tab">
        <span class= "userShow_likedProject_tab_text" id= "likedProjects_tab_text">お気に入り</span>
      </div>
    </div>

    <div class= "userShow_myProjects_container" id= "myProjects_container">
      <% if @my_projects.length != 0 %>
        <% @my_projects.each do |project| %>
          <%= render "projects/project", { project: project } %>
        <% end %>
      <% else %>
        <div class= "userShow_projectNew_box">
          <span class= "userShow_projectNew_message">プロジェクトを作成して、新たな習慣を始めよう！</span>
          <%= link_to "プロジェクトを作成する", new_project_path, class: "userShow_projectNew_link" %>
        </div>
      <% end %>
    </div>

    <div class= "userShow_likedProjects_container hidden" id= "likedProjects_container">
      <% @liked_projects.each do |project| %>
        <%= render "projects/project", { project: project } %>
      <% end %>
    </div>
  </div>

</div>