<%= turbo_frame_tag "date_range_frame" do %>
  <div class= "projectShow_checkIns_dateRange">
    <div class= "heading3">日付の表示範囲を選択</div>
    <%= form_with url: url, method: :get, local: true, class: "projectShow_checkIns_dateRange_form" do |f| %>
      <div class= "projectShow_checkIns_dateRange_startDate">
        <label class= "projectShow_checkIns_dateRange_startDateField_label">開始日：</label>
        <%= f.date_field :start_date, value: @date_range.first, class: "projectShow_checkIns_dateRange_startDateField" %>
      </div>
      <div class= "projectShow_checkIns_dateRange_endDate">
        <label class= "projectShow_checkIns_dateRange_endDate_label">終了日：</label>
        <%= f.date_field :end_date, value: @date_range.last, class: "projectShow_checkIns_dateRange_endDateField" %>
      </div>
      <%= f.submit "表示", class: "projectShow_checkIns_dateRange_commit" %>
    <% end %>
  </div>

  <div class= "projectShow_checkIns_table_navigation_box">
    <%= link_to "←戻る", back_path, class: "link projectShow_checkIns_table_navigation_back", data: { turbo_frame: "date_range_frame" } %>|
    <%= link_to "進む→", next_path, class: "link projectShow_checkIns_table_navigation_next", data: { turbo_frame: "date_range_frame" } %>
  </div>
  <div class= "projectShow_checkIns_table_box">
    <table class= "projectShow_checkIns_table">
      <thead class= "projectShow_checkIns_table_head">
        <tr class= "#">
          <th class= "projectShow_checkIns_table_header">日付</th>
          <% Array(@habits || @habit).each do |habit| %>
            <th class= "projectShow_checkIns_table_header"><%= habit.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class= "projectShow_checkIns_table_body">
        <% @date_range.each do |date| %>
          <tr class= "projectShow_checkIns_table_row">
            <td class= "projectShow_checkIns_table_data <%= "today" if date == Date.today %>">
              <%= date.strftime("%m-%d") %>
            </td>
            <% Array(@habits || @habit).each do |habit| %>
              <% if date >= habit.created_at.to_date %>
                <% check_in = @check_ins.find { |ci| ci.habit_id == habit.id && ci.date == date } %>
                <td class= "projectShow_checkIns_table_data">
                  <%= form_with model: check_in, url: project_habit_check_in_path(project_id: @project.id, habit_id: habit.id, id: check_in.id), method: :patch, class: "projectShow_checkIns_table_checkInForm", data: {project_id: @project.id, habit_id: habit.id, id: check_in.id} do |f| %>
                    <%= f.check_box :status, checked: check_in&.status, class: "projectShow_checkIns_table_checkbox" %>
                    <%= f.hidden_field :habit_id, value: habit.id %>
                    <%= f.hidden_field :date, value: date %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>