<%= form_with model: @project_tag, url: url, method: method, local: true, class: "form" do |f| %>

  <%= render "error", { model: @project_tag} %>

  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label"><%= f.label :title %></div>
      <div class= "form_required">必須</div>
    </div>
    <%= f.text_field :title, autofocut: true, class: "form_textfield", placeholder: "例）3か月後にTOEIC700点を目指す！" %>
  </div>

  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label"><%= f.label :description %></div>
    </div>
    <%= f.text_area :description, class: "form_textarea", rows: 8, placeholder: "例）リスニング・ライティングの２つの観点を重点的に強化していくものである。" %>
  </div>

  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label"><%= f.label :tag_name %></div>
    </div>
    <%= f.text_field :tag_name, class: "form_textfield", placeholder: "入力し、既存のタグを選択、または作成してください。" %>
    <div id= "search_result"></div>
  </div>

  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label">公開設定</div>
      <div class= "form_required">必須</div>
    </div>
    <div class= "form_radio_button_box">
      <%= f.radio_button :display, :none_display %>
      <%= f.label :display, I18n.t("activerecord.attributes.project.display.none_display") %>
    </div>
    <div class= "form_radio_button_box">
      <%= f.radio_button :display, :all_display %>
      <%= f.label :display, I18n.t("activerecord.attributes.project.display.all_display") %>
    </div>
  </div>

  <% if @project_tag.persisted? %>
    <div class= "form_commit_box">
      <%= f.submit "更新", class: "form_commit" %>
    </div>
  <% else %>
    <div class= "form_commit_box">
      <%= f.submit "作成", class: "form_commit" %>
    </div>
  <% end %>
<% end %>