<%= form_with model: @project_tag, url: url, method: method, local: true, class: "form" do |f| %>
  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label"><%= f.label :title %></div>
      <div class= "form_required">必須</div>
    </div>
    <%= f.text_field :title, autofocut: true, class: "form_textfield", placeholder: "例）3か月後にTOEIC700点を目指す！" %>
  </div>

  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label"><%= f.label :description %></div>
    </div>
    <%= f.text_area :description, class: "form_textarea", placeholder: "例）リスニング・ライティングの２つの観点を重点的に強化していくものである。" %>
  </div>

  <div class= "form_group">
    <div class= "form_label_box">
      <div class= "form_label"><%= f.label :tag_name %></div>
      <div class= "form_required">必須</div>
    </div>
    <%= f.text_field :tag_name, class: "form_textfield", placeholder: "入力し、既存のタグを選択、または作成してください。" %>
    <div id= "search_result"></div>
  </div>

  <div class= "field">
    <%= f.label :none_display %>
    <%= f.radio_button :display, :none_display %>
    <%= f.label :all_display %>
    <%= f.radio_button :display, :all_display %>
  </div>

  <div class= "action">
    <%= f.submit "commit" %>
  </div>
<% end %>