<%= form_with model: @project_tag, url: url, method: method, local: true do |f| %>
  <div class= "field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocut: true %>
  </div>

  <div class= "field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class= "field">
    <%= f.label :tag_name %>
    <%= f.text_field :tag_name, placeholder: "add tags" %>
  </div>

  <div class= "field">
    <%= f.label :none_display %>
    <%= f.radio_button :display, :none_display %>
    <%= f.label :all_display %>
    <%= f.radio_button :display, :all_display %>
  </div>

  <div class= "action">
    <%= f.submit "commit" %>
  </div>
<% end %>