<div class= "project">
  <div class= "project_header_container">
    <div class= "project_user_box">
      <div class= "project_userNickname"><%= project.owner.nickname %></div>
      <% if current_user && current_user != project.owner && request.path != user_path(project.owner)  %>
        <div class= "project_userFollow">
          <%= render "relationships/follow_btn", { user: project.owner } %>
        </div>
      <% end %>
    </div>
    <div class= "project_created_at"><%= l project.created_at %></div>
  </div>

  <%= link_to(project_path(project, tag: tag), class: "link", style: "color: black;") do %>
    <div class= "project_title"><%= project.title %></div>

    <div class= "project_tags_box">
      <% project.tags.each do |tag| %>
        <div class= "project_tag">
          <%= tag.tag_name %>
        </div>
      <% end %>
    </div>

    <div class= "project_footer_container">
      <div class= "project_reaction_box">
        <div class= "project_comment">
          💬 <%= project.comments.count %>
        </div>
          <% if project.liked_by?(current_user) %>
            <div class= "project_like">
              💖 <%= project.likes.count %>
            </div>
          <% else %>
            <div class= "project_like">
              ❤️ <%= project.likes.count %>
            </div>
          <% end %>
        <div class= "project_read">
          5回表示
        </div>
      </div>
      <% if project.none_display? %>
        <div class= "project_noneDisplay">非公開</div>
      <% end %>
    </div>
  <% end %>
</div>