<div class= "project">
  <div class= "project_header_container">
    <div class= "project_user_box">
      <div class= "project_userNickname"><%= project.owner.nickname %></div>
      <% if current_user && current_user != project.owner %>
        <div class= "project_userFollow">
          <% if project.owner.followed_by?(current_user) %>
            <%= link_to(user_relationships_path(user_id: project.owner.id), data: {turbo_confirm: "「#{project.owner.nickname}」へのフォローを解除します。よろしいですか？", turbo_method: :delete }, class: "link", style: "color: black;") do %>
              <div class= "project_userFollowed_btn">フォロー解除</div>
            <% end %>
          <% else %>
            <%= link_to(user_relationships_path(user_id: project.owner.id), data: {turbo_method: :post}, class: "link", style: "color: black;") do %>
              <div class= "project_userFollowing_btn">フォローする</div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class= "project_created_at"><%= l project.created_at %></div>
  </div>

  <%= link_to(project_path(project, tag: tag), class: "link", style: "color: black;") do %>
    <div class= "project_title"><%= project.title %></div>

    <div class= "project_tags_box">
      <% project.tags.each do |tag| %>
        <div class= "project_tag">
          <%= tag.tag_name %>
        </div>
      <% end %>
    </div>

    <div class= "project_footer_container">
      <div class= "project_reaction_box">
        <div class= "project_comment">
          💬 15
        </div>
        <div class= "project_like">
          ❤️ 250
        </div>
        <div class= "project_read">
          5回表示
        </div>
      </div>
      <% if project.none_display? %>
        <div class= "project_noneDisplay">このプロジェクトは非公開のプロジェクトです</div>
      <% end %>
    </div>
  <% end %>
</div>