<div class= "project">
  <div class= "project_header_container">
    <div class= "project_user_container">
      <%= link_to(user_path(project.owner), class: "link", style: "color: black;") do %>
        <div class= "project_user_box">
          <% if project.owner.icon.attached?%>
            <%= image_tag project.owner.icon, class: "user_icon", alt: "User Icon" %>
          <% end %>
          <div class= "project_userNickname"><%= project.owner.nickname %></div>
        </div>
      <% end %>
      <% if current_user && current_user != project.owner && request.path != user_path(project.owner)  %>
        <div class= "project_userFollow">
          <%= render "relationships/follow_btn", { user: project.owner } %>
        </div>
      <% end %>
    </div>
    <div class= "project_created_at"><%= l project.created_at %></div>
  </div>

  <%= link_to(project_path(project, tag: tag), class: "link", style: "color: black;") do %>
    <div class= "project_title"><%= project.title %></div>

    <div class= "project_tags_box">
      <% project.tags.each do |tag| %>
        <div class= "project_tag">
          <%= tag.tag_name %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class= "project_footer_container">
    <div class= "project_reaction_box">
      <%= link_to(project_path(project, anchor: "comments"), class: "link", style: "color: black;") do %>
        <div class= "project_comment">
          💬 <%= project.comments.count %>
        </div>
      <% end %>
      <%= render "likes/like", { project: project } %>
      <div class= "project_read">
        <%= project.view_counts.count %>回表示
      </div>
    </div>
    <% if project.none_display? %>
      <div class= "project_noneDisplay">非公開</div>
    <% end %>
  </div>

</div>