<% breadcrumb :project, [@tag, @project] %>
<h1><%= @project.title %></h1>

<%= @project.title %><br>
<%= @project.description %><br>
<%= @project.tags.first&.tag_name %><br>
<%= @project.display %><br>
<%= link_to(user_path(@project.owner, project: @project, tag: @tag)) do %>
  <p>投稿者：<%= @project.owner.nickname %></p><br><br>
<% end %>

<%= link_to "プロジェクトを編集", edit_project_path(@project) %>
<%= link_to "プロジェクトを削除", project_path(@project), data: {turbo_confirm: "付随するすべての習慣も削除されます。よろしいですか？", turbo_method: :delete} %>

<% if params[:range] == "three_days" %>
  <h2>前後３日分の表示</h2>
  <%= link_to "１か月分表示", project_path(@project, range: "month") %>
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <% @habits.each do |habit| %>
          <th><%= habit.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @three_day_range.each do |date| %>
        <tr>
          <td>
            <%= date.strftime("%m-%d") %>
          </td>
          <% @habits.each do |habit| %>
            <% check_in = habit.check_ins.find_or_create_by!(date: date) %>
            <td>
              <%= form_with model: check_in, url: project_habit_check_in_path(project_id: @project.id, habit_id: habit.id, id: check_in.id), method: :patch, class: "check_in", data: {project_id: @project.id, habit_id: habit.id, id: check_in.id} do |f| %>
                <%= f.check_box :status, checked: check_in&.status %>
                <%= f.hidden_field :habit_id, value: habit.id %>
                <%= f.hidden_field :date, value: date %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif params[:range] == "month" %>
  <h2>１か月分の表示</h2>
  <%= link_to "前後３日表示", project_path(@project, range: "three_days") %>
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <% @habits.each do |habit| %>
          <th><%= habit.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @month_range.each do |date| %>
        <tr>
          <td>
            <%= date.strftime("%m-%d") %>
          </td>
          <% @habits.each do |habit| %>
            <% check_in = habit.check_ins.find_or_create_by(date: date, habit_id: habit.id) %>
            <td>
              <%= form_with model: check_in, url: project_habit_check_in_path(project_id: @project.id, habit_id: habit.id, id: check_in.id), method: :patch, class: "check_in", data: {project_id: @project.id, habit_id: habit.id, id: check_in.id} do |f| %>
                <%= f.check_box :status, checked: check_in&.status %>
                <%= f.hidden_field :habit_id, value: habit.id %>
                <%= f.hidden_field :date, value: date %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>習慣内容</h2>
<%= link_to "習慣を作成する", new_project_habit_path(@project) %>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>内容</th>
      <th>頻度</th>
      <th>達成率</th>
    </tr>
  </thead>
  <tbody>
    <% @habits.each_with_index do |habit, index| %>
      <% start_date = habit.start_date || habit.created_at.to_date %>
      <% end_date = habit.end_date || Date.today %>
      <tr onclick="window.location='<%= project_habit_path(project_id: @project.id, id: habit.id, range: 'three_days', tag: @tag) %>'" style= "cursor: pointer;">
        <td>（<%= "#{index + 1}" %>）</td>
        <td><%= habit.content %></td>
        <td><%= habit.frequency %></td>
        <td><%= habit.achievement_rate(start_date, end_date) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

