<% if @tag %>
  <% breadcrumb :project, [@tag, @project] %>
<% end %>

<div class= "projectShow">
  <div class= "projectShow_heading_container">
    <div class= "projectShow_heading_left">
      <div class= "projectShow_heading_box">
        <div class= "heading1"><%= @project.title %></div>
        <div class= "projectShow_reaction_box">
          <%= link_to("#comments", class: "link", style: "color: black;") do %>
            <div class= "projectShow_comment_count" id= "comment_count">
              💬 <%= @project.comments.count %>
            </div>
          <% end %>
          <%= render "likes/like", { project: @project }%>
          <div class= "projectShow_read">
            <%= @project.view_counts.count %>回表示
          </div>
        </div>
      </div>
      <div class= "projectShow_projectTags">
        <% @project.tags.each do |tag| %>
          <div class= "projectShow_projectTag">
            <%= tag.tag_name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class= "projectShow_heading_right">
      <div class= "projectShow_overall_achievement">
        達成率：<span class= "projectShow_overall_achievement_rate" id= "project<%= @project.id %>achievement"><%= @project.overall_achievement_rate %>%</span>
      </div>
    </div>
  </div>
  <div class= "projectShow_projectDescription_box">
    <div class= "heading2">概要</div>
    <div class= "projectShow_projectDescription">
      <%= simple_format(h(@project.description), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
  </div>
  <div class= "projectShow_project_info">
    <div class= "projectShow_projectOwner_box">
      <div class= "heading2">作成者</div>
      <%= link_to(user_path(@project.owner, project: @project, tag: @tag), class: "link", style: "color: black;") do %>
        <div class= "projectShow_projectOwner">
          <%= @project.owner.nickname %>
        </div>
      <% end %>
    </div>
    <div class= "projectShow_projectCreated_at_box">
      <div class= "heading2">作成日</div>
      <div class= "projectShow_projectCreated_at">
        <%= l @project.created_at %>
      </div>
    </div>
  </div>
  <div class= "projectShow_projectManagement_box">
    <%= link_to(edit_project_path(@project), class: "link", style: "color: black;") do %>
      <div class= "edit_btn">編集する</div>
    <% end %>
    <%= link_to(project_path(@project), data: {turbo_confirm: "付随するすべての習慣も削除されます。よろしいですか？", turbo_method: :delete}, class: "link", style: "color: black;") do %>
      <div class= "delete_btn">削除する</div>
    <% end %>
  </div>

  <%= render "daterange" %>
  
  <div class= "projectShow_habits">
    <div class= "projectShow_habits_heading_box">
      <div class= "heading2">習慣内容</div>
      <%= link_to "習慣を作成", new_project_habit_path(@project), class: "link projectShow_habits_create_button" %>
    </div>
    <div class= "projectShow_habits_table_box">
      <table class= "projectShow_habits_table">
        <thead class= "projectShow_habits_table_head">
          <tr class= "#">
            <th class= "projectShow_habits_table_header">習慣名</th>
            <th class= "projectShow_habits_table_header">内容</th>
            <th class= "projectShow_habits_table_header">頻度</th>
            <th class= "projectShow_habits_table_header">達成率</th>
          </tr>
        </thead>
        <tbody class= "projectShow_habits_table_body">
          <% @habits.each_with_index do |habit, index| %>
            <% start_date = habit.start_date || habit.created_at.to_date %>
            <% end_date = habit.end_date || Date.today %>
            <tr onclick="window.location='<%= project_habit_path(project_id: @project.id, id: habit.id, range: 'three_days', tag: @tag) %>'" style= "cursor: pointer;" class= "projectShow_habits_table_row">
              <td class= "projectShow_habits_table_data"><%= habit.name %></td>
              <td class= "projectShow_habits_table_data"><%= simple_format(h(habit.content), {}, sanitize: false, wrapper_tag: "div") %></td>
              <td class= "projectShow_habits_table_data"><%= I18n.t("enums.habit.frequency.#{ habit.frequency }") %></td>
              <td class= "projectShow_habits_table_data" id= "habit<%= habit.id %>achievement"><%= habit.achievement_rate(start_date, end_date) %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class= "projectShow_comments_container">
    <div class= "projectShow_comments_heading">
      コメント
    </div>
    <% if current_user %>
      <%= form_with model: [@project, @comment], url: project_comments_path(@project), class: "projectShow_comment_form", id: "comment_form" do |f| %>
        <%= f.text_area :text, class: "projectShow_comment_textarea" %>
        <%= f.submit "送信", class: "projectShow_comment_commit" %>
      <% end %>
    <% end %>
    <div class= "projectShow_comments_box" id= "comments">
      <% @comments.each do |comment| %>
        <div class= "projectShow_comment">
          <div class= "projectShow_comment_header_box">
            <div class= "projectShow_comment_user"><%= comment.user.nickname %></div>
            <div class= "projectShow_comment_createdAt"><%= l comment.created_at %></div>
          </div>
          <div class= "projectShow_comment_text"><%= comment.text %></div>
          <% if current_user == comment.user %>
            <div class= "projectShow_comment_management_box">
              <%= link_to "削除", project_comment_path(project_id: @project.id, id: comment.id), data: { turbo_method: :delete }, class: "projectShow_comment_deleteBtn" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>