<% breadcrumb :root %>

<div class= "tagsIndex">
  <div class= "tagsIndex_heading1">
    <div class= "tagsIndex_heading1_text"></div>
  </div>

  <div class= "tagsIndex_search_box">
    <%= search_form_for @q, url: root_path, class: "tagsIndex_search_form" do |f| %>
      <%= f.search_field :tag_name_cont, placeholder: "タグを検索", class: "tagsIndex_search_searchField" %>
      <%= f.submit "検索", class: "tagsIndex_search_commit" %>
    <% end %>
  </div>

  <div class= "tagsIndex_tags">
    <% @tags.each do |tag| %>
      <%= link_to(tag_path(tag), class: "link") do %>
        <div class= "tagsIndex_tag">
          <div class= "tagsIndex_tag_info_box">
            <div class= "tagsIndex_tag_tagName"></div>
            <div class= "tagsIndex_tag_projectCount"></div>
          </div>
          <div class= "tagsIndex_tag_projects">
            <% tag.projects.limit(3).each do |project| %>
              <div class= "tagsIndex_tag_project">
                <div class= "tagsIndex_tag_project_title"></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>



<h1>タグ一覧</h1>

<%= search_form_for @q, url: root_path do |f| %>
  <%= f.search_field :tag_name_cont, placeholder: "タグを検索" %>
  <%= f.submit "検索" %>
<% end %>

<% @tags.each do |tag| %>
  <div>
    <%= link_to tag.tag_name, tag_path(tag) %>
    <% tag.projects.limit(3).each do |project| %>
      <%= project.title %>
      <%= project.description %>
    <% end %>
  </div><br><br>
<% end %>