<% breadcrumb :root %>

<div class= "tagsIndex">
  <div class= "heading1_box">
    <div class= "heading1">Home</div>
  </div>

  <div class= "search_box">
    <%= search_form_for @q, url: root_path, class: "search_form" do |f| %>
      <%= f.search_field :tag_name_cont, placeholder: "タグを検索", class: "search_searchField" %>
      <%= f.submit "検索", class: "search_commit" %>
    <% end %>
  </div>

  <div class= "tagsIndex_tags">
    <% @tags.each do |tag| %>
      <div class= "tagsIndex_tag">
        <%= link_to(tag_path(tag), class: "link", style: "color: black; ") do %>
          <div class= "tagsIndex_tag_info_box">
            <div class= "tagsIndex_tag_tagName">
              #<%= tag.tag_name %>
            </div>
            <div class= "tagsIndex_tag_projectCount">
              投稿数：<%= tag.projects.where(display: 1).count %> 件
            </div>
          </div>
        <% end %>
        <div class= "tagsIndex_tag_projects">
          <% tag.projects.more_view(tag.id).limit(3).each do |project| %>
              <%= render "projects/project", { project: project, tag: tag } %>
          <% end %>
        </div>
        <%= link_to(tag_path(tag), class: "link", style: "color: black; ") do %>
          <div class= "tagsIndex_tag_showLink">➡ <%= tag.tag_name %>のプロジェクト一覧</div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>