<% breadcrumb :root %>

<div class= "tagsIndex">
  <div class= "tagsIndex_heading1">
    <div class= "tagsIndex_heading1_text">Home Page</div>
  </div>

  <div class= "tagsIndex_search_box">
    <%= search_form_for @q, url: root_path, class: "tagsIndex_search_form" do |f| %>
      <%= f.search_field :tag_name_cont, placeholder: "タグを検索", class: "tagsIndex_search_searchField" %>
      <%= f.submit "検索", class: "tagsIndex_search_commit" %>
    <% end %>
  </div>

  <div class= "tagsIndex_tags">
    <% @tags.each do |tag| %>
      <div class= "tagsIndex_tag">
        <%= link_to(tag_path(tag), class: "link", style: "color: black; ") do %>
          <div class= "tagsIndex_tag_info_box">
            <div class= "tagsIndex_tag_tagName">
              #<%= tag.tag_name %>
            </div>
            <div class= "tagsIndex_tag_projectCount">
              投稿数：<%= tag.projects.count %> 件
            </div>
          </div>
        <% end %>
        <div class= "tagsIndex_tag_projects">
          <% tag.projects.limit(3).each do |project| %>
            <%= link_to(project_path(project, tag: tag), class: "link", style: "color: black;") do %>
              <%= render "projects/project", { project: project } %>
            <% end %>
          <% end %>
        </div>
        <%= link_to(tag_path(tag), class: "link", style: "color: black; ") do %>
          <div class= "tagsIndex_tag_showLink">➡ <%= tag.tag_name %>のプロジェクト一覧</div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>