<% breadcrumb :root %>
<h1>タグ一覧</h1>

<%= search_form_for @q, url: root_path do |f| %>
  <%= f.search_field :tag_name_cont, placeholder: "タグを検索" %>
  <%= f.submit "検索" %>
<% end %>

<% @tags.each do |tag| %>
  <div>
    <%= link_to tag.tag_name, tag_path(tag) %>
    <% tag.projects.limit(3).each do |project| %>
      <%= project.title %>
      <%= project.description %>
    <% end %>
  </div><br><br>
<% end %>