<% breadcrumb :tag, @tag %>
<h1><%= @tag.tag_name %></h1>

<% @projects.each do |project| %>
  <div>
    <%= link_to(project_path(project, range: "three_days", tag: @tag.id)) do %>
      <%= project.title %>
      <%= project.description %>
      <%= project.owner.nickname %>
    <% end %>
  </div>
<% end %>