<% if @tag %>
  <% breadcrumb :habit, [@tag, @project, @habit] %>
<% end %>

<div class= "habitShow">
  <div class= "habitShow_info_box">
    <div class= "habitShow_heading_box">
      <div class= "heading1"><%= @habit.name %></div>
      <div class= "habitShow_achievement">達成率：<span class= "habitShow_achievement_rate"><%= @habit.achievement_rate(@start_date, @end_date) %>%</span></div>
    </div>
    <div class= "habitShow_content_box">
      <div class= "heading2">内容</div>
      <div class= "habitShow_content">
        <%= simple_format(h(@habit.content), {}, sanitize: false, wrapper_tag: "div") %>
      </div>
    </div>
    <div class= "habitShow_time_box">
      <div class= "habitShow_frequency_box">
        <div class= "heading2">頻度</div>
        <div class= "habitShow_frequency">
          <%= I18n.t("enums.habit.frequency.#{ @habit.frequency }") %>
        </div>
      </div>
      <div class= "habitShow_date_range_box">
        <div class= "heading2">実施期間</div>
        <div class= "habitShow_date_range">
          <% if @habit.start_date && @habit.end_date %>
            <%= l @habit.start_date %> ~ <%= l @habit.end_date %>  （<%= (@habit.end_date - @habit.start_date).to_i + 1 %>日間）
          <% elsif @habit.start_date %>
            <%= l @habit.start_date %> ~
          <% elsif @habit.end_date %>
            <%= l @habit.created_at %> ~ <%= @habit.end_date %>  （<%= (@habit.end_date - @habit.start_date).to_i + 1 %>日間）
          <% else %>
            未定
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user == @project.owner %>
    <div class= "habitShow_habitManagement_box">
      <%= link_to(edit_project_habit_path(project_id: @project.id, id: @habit.id), class: "link", style: "color: black;") do %>
        <div class= "edit_btn">編集する</div>
      <% end %>
      <%= link_to(project_habit_path(project_id: @project.id, id: @habit.id), data: {turbo_confirm: "習慣「#{@habit.name}」を削除します", turbo_method: :delete}, class: "link", style: "color: black;") do %>
        <div class= "delete_btn">削除する</div>
      <% end %>
    </div>
    
    <%= render "projects/daterange", { url: project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag), 
        back_path: project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag, start_date: @date_range.first - (@end_date - @start_date) - 1, end_date: @date_range.first - 1),
        next_path: project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag, start_date: @date_range.last + 1, end_date: @date_range.last + (@end_date - @start_date) + 1) }
    %>

  <% end %>

</div>


