<% if @tag %>
  <% breadcrumb :habit, [@tag, @project, @habit] %>
<% end %>

<div class= "habitShow">
  <div class= "habitShow_info_box">
    <div class= "habitShow_heading_box">
      <div class= "heading1"><%= @habit.name %></div>
      <div class= "habitShow_achievement">達成率：<span class= "habitShow_achievement_rate"><%= @habit.achievement_rate(@start_date, @end_date) %>%</span></div>
    </div>
    <div class= "habitShow_content_box">
      <div class= "heading2">内容</div>
      <div class= "habitShow_content">
        <%= simple_format(h(@habit.content), {}, sanitize: false, wrapper_tag: "div") %>
      </div>
    </div>
    <div class= "habitShow_time_box">
      <div class= "habitShow_frequency_box">
        <div class= "heading2">頻度</div>
        <div class= "habitShow_frequency">
          <%= I18n.t("enums.habit.frequency.#{ @habit.frequency }") %>
        </div>
      </div>
      <div class= "habitShow_date_range_box">
        <div class= "heading2">実施期間</div>
        <div class= "habitShow_date_range">
          <% if @habit.start_date && @habit.end_date %>
            <%= l @habit.start_date %> ~ <%= l @habit.end_date %>  （<%= (@habit.end_date - @habit.start_date).to_i + 1 %>日間）
          <% elsif @habit.start_date %>
            <%= l @habit.start_date %> ~
          <% elsif @habit.end_date %>
            <%= l @habit.created_at %> ~ <%= @habit.end_date %>  （<%= (@habit.end_date - @habit.start_date).to_i + 1 %>日間）
          <% else %>
            未定
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user == @project.owner %>
    <div class= "habitShow_habitManagement_box">
      <%= link_to(edit_project_habit_path(project_id: @project.id, id: @habit.id), class: "link", style: "color: black;") do %>
        <div class= "edit_btn">編集する</div>
      <% end %>
      <%= link_to(project_habit_path(project_id: @project.id, id: @habit.id), data: {turbo_confirm: "#{@habit.name}を削除します", turbo_method: :delete}, class: "link", style: "color: black;") do %>
        <div class= "delete_btn">削除する</div>
      <% end %>
    </div>
    

    <div class= "projectShow_checkIns_dateRange">
      <div class= "heading3">日付の表示範囲を選択</div>
      <%= form_with url: project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag), method: :get, local: true, class: "projectShow_checkIns_dateRange_form" do |f| %>
        <div class= "projectShow_checkIns_dateRange_startDate">
          <label class= "projectShow_checkIns_dateRange_startDateField_label">開始日：</label>
          <%= f.date_field :start_date, value: @date_range.first, class: "projectShow_checkIns_dateRange_startDateField" %>
        </div>
        <div class= "projectShow_checkIns_dateRange_endDate">
          <label class= "projectShow_checkIns_dateRange_endDate_label">終了日：</label>
          <%= f.date_field :end_date, value: @date_range.last, class: "projectShow_checkIns_dateRange_endDateField" %>
        </div>
        <%= f.submit "表示", class: "projectShow_checkIns_dateRange_commit" %>
      <% end %>
    </div>

    <div class= "projectShow_checkIns_table_navigation_box">
      <%= link_to "←戻る", project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag, start_date: @date_range.first - (@end_date - @start_date) - 1, end_date: @date_range.first - 1), class: "link projectShow_checkIns_table_navigation_back" %>|
      <%= link_to "進む→", project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag, start_date: @date_range.last + 1, end_date: @date_range.last + (@end_date - @start_date) + 1), class: "link projectShow_checkIns_table_navigation_next" %>
    </div>
    <div class= "projectShow_checkIns_table_box">
      <table class= "projectShow_checkIns_table">
        <thead class= "projectShow_checkIns_table_head">
          <tr class= "#">
            <th class= "projectShow_checkIns_table_header">日付</th>
            <th class= "projectShow_checkIns_table_header"><%= @habit.name %></th>
          </tr>
        </thead>
        <tbody class= "projectShow_checkIns_table_body">
          <% @date_range.each do |date| %>
            <tr class= "projectShow_checkIns_table_row">
              <td class= "projectShow_checkIns_table_data">
                <%= date.strftime("%m-%d") %>
              </td>
              <% check_in = @check_ins.find { |ci| ci.habit_id == @habit.id && ci.date == date } %>
              <td class= "projectShow_checkIns_table_data">
                <%= form_with model: check_in, url: project_habit_check_in_path(project_id: @project.id, habit_id: @habit.id, id: check_in.id), method: :patch, class: "projectShow_checkIns_table_checkInForm", data: {project_id: @project.id, habit_id: @habit.id, id: check_in.id} do |f| %>
                  <%= f.check_box :status, checked: check_in&.status, class: "projectShow_checkIns_table_checkbox" %>
                  <%= f.hidden_field :habit_id, value: @habit.id %>
                  <%= f.hidden_field :date, value: date %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>


