<% breadcrumb :habit, [@tag, @project, @habit] %>
<h1><%= @habit.name %></h1>

<%= @habit.content %>
<%= @habit.frequency %>
<%= @habit.start_date || @habit.created_at %>
<%= @habit.end_date %>

<div>
  <%= link_to "編集する", edit_project_habit_path(project_id: @project.id, id: @habit.id) %>
  <%= link_to "削除する", project_habit_path(project_id: @project.id, id: @habit.id), data: {turbo_confirm: "#{@habit.name}を削除します", turbo_method: :delete} %>
</div>

  <div class= "projectShow_checkIns_dateRange">
    <div class= "heading3">日付の表示範囲を選択</div>
    <%= form_with url: project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag), method: :get, local: true, class: "projectShow_checkIns_dateRange_form" do |f| %>
      <div class= "projectShow_checkIns_dateRange_startDate">
        <label class= "projectShow_checkIns_dateRange_startDateField_label">開始日：</label>
        <%= f.date_field :start_date, value: @date_range.first, class: "projectShow_checkIns_dateRange_startDateField" %>
      </div>
      <div class= "projectShow_checkIns_dateRange_endDate">
        <label class= "projectShow_checkIns_dateRange_endDate_label">終了日：</label>
        <%= f.date_field :end_date, value: @date_range.last, class: "projectShow_checkIns_dateRange_endDateField" %>
      </div>
      <%= f.submit "表示", class: "projectShow_checkIns_dateRange_commit" %>
    <% end %>
  </div>

  <div class= "projectShow_checkIns_table_navigation_box">
    <%= link_to "←戻る", project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag, start_date: @date_range.first - (@end_date - @start_date) - 1, end_date: @date_range.first - 1), class: "link projectShow_checkIns_table_navigation_back" %>|
    <%= link_to "進む→", project_habit_path(project_id: @project.id, id: @habit.id, tag: @tag, start_date: @date_range.last + 1, end_date: @date_range.last + (@end_date - @start_date) + 1), class: "link projectShow_checkIns_table_navigation_next" %>
  </div>
  <div class= "projectShow_checkIns_table_box">
    <table class= "projectShow_checkIns_table">
      <thead class= "projectShow_checkIns_table_head">
        <tr class= "#">
          <th class= "projectShow_checkIns_table_header">日付</th>
          <th class= "projectShow_checkIns_table_header"><%= @habit.name %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>